{% extends "base.html" %}

{% block head %}

<script type="text/javascript">
var myModel = {
    self: this,
    status: ko.observable('Status'),
    total_matches: ko.observable('game count'),

    players: ko.observableArray([]),
    page_url : ko.observable() 

};
$(function(){
    ko.applyBindings(myModel);
});

var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function() {
    $('button#scrape_match').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_scrape_game', {
            match_id: $('input[name="match_id_input"]').val()//'67601693'
            }, function(data) {
            self.myModel.status('Added a game or two.');
        });
        return false;
    });
});


$(function() {
    $('button#remove_match').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/admin/_remove_match', {
            }, function(data) {
            self.myModel.status('Deleted');
        });
        return false;
    });
});


$(function() {
    $('button#status').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/admin/_status', {
            }, function(data) {
            self.myModel.total_matches(data.games_played);
            self.myModel.players(data.players);
        });
        return false;
    });
});


$(function() {
    $('button#scrape_player').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/admin/_scrape_player', {
            match_id: $('input[name="player_id"]').val()
            }, function(data) {
            self.myModel.status('Player scraped');
        });
        return false;
    });
});


</script>

{% endblock %}

{% block body %}
<a href="/matches_list">Matches</a>
<span data-bind="text: status">Status</span>
<span data-bind="text: total_matches">Status</span>
<br></br>
<input name="match_id_input"></input>
<button css="btn" id="scrape_match">Scrape match</button>
<button css="btn btn-warning" id="remove_match">Remove all matches</button>

<button css="btn" id="status">Get Status</button>
<br></br>
<div>
    <input name="player_id"></input>
    <button css="btn" id="scrape_player">Scrape player</button>
</div>
<table class="table">
    <thead>
        <tr class='row'>
            <th class='span4'>Name</th>
            <th class='span4'>Url</th> 
        </tr>
    </thead>
    <tbody data-bind="foreach: players">
        <tr class='row'>
            <td class='span4' data-bind="text: name"></td>
            <td class='span4' data-bind="text: page_url"></td>
        </tr>
    </tbody>
</table>
<br></br>
{% endblock %}

