{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type='text/javascript' src='static/main.js'></script>
{% endblock %}

{% block body %}
<span data-bind="text: status"></span>
<div>
</div>
<a href="/admin">Admin</a>
<br/><br/>
<div class="container" style="background-color: #FCF3FF">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Dota hero replays</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
    <form class="form-search">
        <input type="text" class="input-medium search-query" id="search">
        <button type="submit" class="btn" id="load_games">Search</button>
    </form>
    <!--
    <table class="table">
        <tbody data-bind="foreach: heroes">
            <td class="span4" data-bind="text: name"></td>
        </tbody>
    </table>
    -->
</div>
<table class="table">
    <thead>
        <tr class='row'>
            <th class='span4'>Player</th>
            <th class='span4'>Match ID</th> 
            <th class='span1'>Kills</th> 
            <th class='span1'>Deaths</th> 
            <th class='span1'>Assists</th> 
        </tr>
    </thead>
    <tbody data-bind="foreach: matches">
        <tr class='row'>
            <td class='span4' data-bind="text: hero"></td>
            <td class='span4' data-bind="text: match_id"></td>
            <td class='span1' data-bind="text: k"></td>
            <td class='span1' data-bind="text: d"></td>
            <td class='span1' data-bind="text: a"></td>
        </tr>
    </tbody>
</table>
</div>

{% endblock %}
