<!doctype html>
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(function() {
        $('button#list_games').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_game_search', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
            }, function(data) {
            $("#my_games").html(data.gamelist);
            });
            return false;});
        });
    $(function() {
        $('button#list_players').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_list_players', {
            }, function(data) {
            $("#players").html(data.player_list);
            });
            return false;});
        });


</script>

<div id="content">
    <input type="text" name="dota_url"/>
    <button id="list_games">
        Megacall 
    </button>

    <div id="game_list">
        <span id="my_games">List my games here</span>
    </div>
    </br>
    </br>
    <button id="list_players">Load players from db</button>
    <div id="players">Player list</div>
    <a href="/heroes">Herolist</a>
</div>

